<div class="app">
  <button class="btn btn-primary" (click)="open(content)">Launch Demo Modal</button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-header_supplier">
      <h4 class="modal-title">Browse</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(); resetSearch()"></button>
    </div>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterList()"
      class="form-control"
      placeholder="Search supplier"
    />
  </div>
  <div class="modal-body">
    <div *ngFor="let item of filteredList" class="app_suppliers" (click)="openNewModal(newModalContent, item)">
      <div class="app_suppliers_list" style="display: flex; justify-content: space-between;">
        <div>{{ item.name }}</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z">
          </path>
        </svg>
      </div>
    </div>
    <div *ngIf="filteredList.length === 0">
      <p>No suppliers found.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close(); resetSearch()">Close</button>
  </div>
</ng-template>

<ng-template #newModalContent let-modal>
  <div class="modal-header">
    <div class="modal-header_products">
      <div class="modal-header_back" (click)="goBackToPreviousModal(); resetSelectedProduct()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path>
        </svg>
      </div>
      <h4 class="modal-title">{{ selectedItem?.name }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(); resetSearch()"></button>
    </div>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterProducts()"
      class="form-control"
      placeholder="Search products..."
    />
  </div>

  <div class="modal-body"> 
    <div *ngIf="filteredProducts.length > 0; else noProducts">
      <div
        *ngFor="let product of filteredProducts"
        [ngClass]="{ 
          'highlight': isHighlight(product) && (searchTerm || product.isExpanded),
          'red-background': (searchTerm && product.name.toLowerCase().includes(searchTerm.toLowerCase()) || searchTerm && shouldHighlightProduct(product)) && product.isExpanded
        }" 
        class="app_products"
      >
        <div [ngClass]="{ 'no-fill-on-hover': product.isExpanded }" class="app_products_list" (click)="toggleChildProducts(product)">
          <p [innerHTML]="highlightText(product.name, searchTerm)"></p>
          
          <ng-container *ngIf="product.isExpanded; else collapsedIcon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
            </svg>
          </ng-container>
          <ng-template #collapsedIcon>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
            </svg>
          </ng-template>
        </div>
        
        <!-- Only show child products if there is a search term or product is expanded -->
        <div *ngIf="searchTerm || product.isExpanded">
          <div
            *ngFor="let childProduct of product.childProducts"
            class="app_products_list_item"
            [ngClass]="{ 
              'highlight': childProduct === selectedProduct, 
              'highlight-search': childProduct.name.toLowerCase().includes(searchTerm.toLowerCase()) || 
                                  childProduct.sku.toLowerCase().includes(searchTerm.toLowerCase()),
              'red-background': childProduct === selectedProduct 
            }"
          >
            <div class="checkbox-container">
              <input 
                type="checkbox" 
                [checked]="childProduct.isChecked" 
                (change)="onCheckboxChange(childProduct, $event)" 
              />
            </div>
            <div>
              <p [innerHTML]="highlightText(childProduct.name, searchTerm)"></p>
              <p [innerHTML]="highlightText('SKU: ' + childProduct.sku, searchTerm)"></p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <ng-template #noProducts>
      <p>No products available for this supplier.</p>
    </ng-template>
  </div>  
  
  <div class="modal-footer">
    <button 
      class="btn" 
      [ngClass]="{
        'button_disabled': !isAnyCheckboxChecked,
        'button_enabled': isAnyCheckboxChecked
      }" 
      [disabled]="!isAnyCheckboxChecked" 
      (click)="handleConfirm()"
    >
      {{ getSelectedProductsCount() }} products selected
    </button>
    <div>
      <button class="btn button_cancel" (click)="modal.close(); resetSearch()">Cancel</button>
      <button 
        class="btn" 
        [ngClass]="{
          'button_disabled': !isAnyCheckboxChecked,
          'button_enabled': isAnyCheckboxChecked
        }" 
        [disabled]="!isAnyCheckboxChecked" 
        (click)="modal.close(); resetSearch()"
      >
        Add
      </button>
    </div>
  </div>
  
</ng-template>

<ng-template #selectedList let-modal>
  <div class="modal-header">
    <div class="modal-header_products">
      <div class="modal-header_back" (click)="goBackToNewModal()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path>
        </svg>
      </div>
      <h4 class="modal-title">Selection</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
  </div>
  <div class="modal-body">
    <div *ngIf="selectedProducts.length > 0; else noProductsSelected">
      <div *ngFor="let product of selectedProducts; let i = index" 
        (mouseenter)="onHover(product)" 
        (mouseleave)="onHover(null)"
        class="app_selection">
        <div>
          {{ i + 1 }}
          {{ product.name }}
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" *ngIf="hoveredProduct === product" (click)="deleteProduct(product)"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z"></path></svg>
      </div>

    </div>
    <ng-template #noProductsSelected>
      <p>No products selected.</p>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>


