.app {
  height: 100vh;
  align-items: center;
  display: flex;
  button {
    display: flex;
    margin: 0 auto;
  }
  &_suppliers, &_products {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px;
    
    svg {
      width: 15px;
      fill: #c4c4c4;
    }

    &.no-fill-on-hover:hover {
      svg {
        fill: #c4c4c4 !important;
      }
    }

    p {
      margin-bottom: 0;
      padding: 10px;
    }

    &.highlight {
      background-color: #f5f5f5;
      color: #212529;
      padding: 10px;

      div {
        padding-bottom: 10px;
      }

      div:last-child {
        padding-bottom: 0;
      }

      p {
        padding-top: 0;
        padding-left: 0;
      }
    }

    &_list {
      display: flex;
      justify-content: space-between;
      &_item {

        border-top: 1px solid #E5E5E5;
        padding: 10px;

        p {
          margin-bottom: 0;
        }

        p:first-child {
          padding-bottom: 0;
        }

        p:last-child {
          color: #7B7B7B;
          font-size: 12px;
          font-weight: 400;
        }
      }

      // &_item:last-child {
      //   padding-bottom: 0;
      // }
    }
  }

  &_suppliers:last-child, &_products:last-child {
    border-bottom: none;
  }

  &_suppliers {
    &:hover {
      background-color: #2F8DF8FC;
      color: #FFFFFF;
      cursor: pointer;

      svg {
          fill: #FFFFFF;
      }
    }
  }

  &_products {      
    display: flex;
    justify-content: space-between;
    padding: 0;
    &_list {
      width: 100%;
      &_item {
        padding: 20px;
        display: flex;
        column-gap: 20px;
      }
    }
    &.highlight {
      display: block;
    }
  }

  &_selection {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: #F5F5F5;
    }
  }
}

.modal-header {
  display: block;
  padding: 40px;
  padding-bottom: 24px;

  &_supplier, &_products {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    svg {
      width: 20px;
    }
  }

  &_back {
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
  }
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #7B7B7B;
}

.btn-close {
  font-size: 10px;
  margin: 0;
}

.modal-body {
    padding: 0 40px;
    svg {
      width: 20px;
    }
}

.red-background {
  background-color: #f5f5f5;
  display: block;
}

.highlight-search {
  background-color: #f5f5f5;
  color: #212529;
  p {
    padding: 0;
  }
}

.highlight {
  background-color: #f5f5f5;
        color: #212529;
}

.no-fill-on-hover:hover {
  svg {
    fill: #c4c4c4 !important;
  }
}

.modal-footer {
  padding: 1rem 40px;
  justify-content: space-between;
  div {
    column-gap: 20px;
    display: flex;
    .button {
      &_disabled {
        background: #e5e5e5;
        color: #c4c4c4;
      }
      &_enabled {
        background-color: #3E4760;
        color: #FFFFFF;
      }
    }
  }
}

.button {
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  color: #c4c4c4;
  &_disabled {
    color: #c4c4c4;
    cursor: not-allowed;
    opacity: 0.6; 
  }
  &_enabled, &_cancel {
    color: #7B7B7B;
    border: 1px solid #c4c4c4;
  }
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}